[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-autodoc-annotation = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-dark-mode = "*"

[requires]
python_version = "3.9"
